body {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}

.mini-container {
  width: 85%;
  margin: auto;
  margin-top: 50px;
}
.display {
  width: 65%;
}

.toggle {
  width: 30%;
}

.content {
  background-color: blueviolet;
  height: 400px;
}
